.flow-details {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    border-radius: 20px;
}

.flow-details .flow-nome {
    border: 1px solid #E7E7E7;
    padding: 20px;
    border-radius: 10px;
}

.flow-details .flow-descricao {
    border: 1px solid #E7E7E7;
    height: 100px;
    padding: 20px;
    border-radius: 10px;

}