.container-comment {
    display: flex;
    flex-direction: column;
}

.header-comment {
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #DDF4FF;
    padding: 5px 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    color: #585858;
}

.info-comment {
    display: flex;
    align-items: baseline;
    gap: 5px;
}

.info-comment h4 {
    margin: 0;
}

.autor-comment {

}

.content-comment {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content-comment p {
    width: 100%;
}