.screen-view-project .content {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.screen-view-project .title {
    display: flex;
    
    justify-content: space-between;
    align-items: baseline;
    /* margin-left: 20px;
    margin-right: 20px; */
    padding: 0 20px;
    border-bottom: 1px solid black;

}

.screen-view-project .title h4 {
    color: var(--primary-color);
}

.screen-view-project .cronograme-iterations {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.screen-view-project .cronograme-iterations h4 {
    text-align: center;
}


  