.projects-section-layout {
    margin: 20px;
    margin-top: 0;
}

.projects-section-content {
    display: flex;
    flex-direction: row;
}

.meus-projetos-table {
    width: 100%;

}

.meus-projetos-table thead th.ant-table-cell {
    background-color: var(--primary-color);
    color: #fff;
}