.botoes-de-acao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
#botao-filtrar {
    width: 100%;
}

#botao-adicionar-atualizar-deletar {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 100%;
}