.step-add-etapa {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.form-add-etapa {
    width: 50%;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.button-add-etapa {
    margin: 30px;
}

.button-add-etapa button {
    border-radius: 30px ;
}