.painel-chat {
    display: flex;
    height: 100%;

}

.coluna-chat {
    width: 20%;
    border-right: 1px solid var(--border-color);
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.coluna-mensagens {
    width: 80%;
}