.component-lista-etapas {
    margin-top: 20px;
}

.item-etapa {
    border: 1px solid #DADADA;
    border-radius: 5px;
    margin-bottom: 10px;
}

.campos-agrupados {
    display: flex;
}

.campo-item-etapa {
    display: flex;
    border-bottom: 1px solid #DADADA;
    justify-content: flex-start;
    align-items: center;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
}

.campo-item-etapa h5 {
    width: 150px;
    font-weight: 600;
    background-color: #FAFAFA;
    border-right: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    padding: 20px;
    margin: 0;
}

.campo-item-etapa p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.campo-item-etapa + .botoes-acao {
    display: flex;
    gap: 10px;
}