/* ProjectCard.css */
@import '../../../../../styles/colors/variables.colors.css';

.project-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: fit-content;
    transition: 0.3s ease-in-out;
  }
  
  .project-card:hover {
    transform: scale(1.05);
    background-color: var(--primary-color);
    color: #fff;
  }
  