@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #1677FF;
  --second-color: #001529;
  --third-color: #002140;
  --border-color: #A4A4A4;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}


/* .ant-layout {
  background-color: #FFFFFF;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid var(--border-color);

}
.ant-input-outlined {
  border: 1px solid var(--border-color);
}

.ant-btn-default {
  border-color: var(--border-color);
} */

.global-div {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.global-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.global-space {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.global-table table {
  font-size: 13px;
  border: 1px solid #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.global-table table th:first-child {
  width: 70px;
}

.style-table table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.style-table table thead th.ant-table-cell {
  background-color: #002140;
  color: #FFFFFF;
}

.button-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;

}

.grouped-buttons {
  display: flex;
  gap: 10px;
}