@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #1677FF;
  --second-color: #001529;
  --third-color: #002140;
  --light-blue: #00AAFF;
}

* {
  font-family: "Nunito", sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  border: 1px solid #585858;

}
.ant-input-outlined {
  border: 1px solid #585858;
}

.global-div {
  margin: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

.global-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #585858;
  border-radius: 5px;

}

.global-table table {
  font-size: 13px;
  border: 1px solid #d9d9d9;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.global-table table th:first-child {
  width: 70px;
}

.style-table table {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.style-table table thead th.ant-table-cell {
  background-color: var(--primary-color);
  color: #fff;
}

.button-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grouped-buttons {
  display: flex;
  gap: 10px;
}

.two-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  margin: 20px;
}




