.table-markdown table {
    border-collapse: collapse;
    width: 100%;
}

.table-markdown table th,
.table-markdown table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-markdown table th {
    background-color: #f2f2f2;
}

/* Estilo para linhas pares */
.table-markdown table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilo para linhas ímpares */
.table-markdown table tr:nth-child(odd) {
    background-color: #ffffff; /* Pode ser a cor de fundo que desejar */
}
