.component-tabs-projeto form label,
.component-tabs-projeto form input {
    font-size: 13px !important;
}

.tabs-projeto {
    font-size: 13px;
}

.tabs-projeto-footer-botoes button {
    font-size: 13px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 10px;
}