.div-dados-fluxo,
.div-dados-etapas {
    border: 1px solid #BDBDBD;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tab-finalizar-fluxo-content h4 {
    color: #424242;
    font-size: 12px;
    font-weight: 400;
}

.tab-finalizar-fluxo-content p {
    border: 1px solid #BDBDBD;
    border-radius: 5px;
    padding: 10px;

}

.tab-finalizar-fluxo-content table {
    font-size: 13px !important;
}

.tab-finalizar-fluxo-footer {
    display: flex;
    justify-content: space-between;
}
