.templates {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin: 0 auto;
    margin-top: 30px;
    width: 70% !important;
}

.template-item {
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    transition: transform 0.5s ease;
}

.template-item:hover {
    border: 1px solid #1677FF;
    transform: scale(1.05);
    color: #1677FF;
}

.templates .template-item button {
    width: 120px;
    height: 120px;
    border: none;
    border: 2px dashed gray;
    border-radius: 20px;
}

.templates .template-item h4 {
    margin-top: 5px;
    text-align: center;
    font-size: 15px;
}

.icon-gr-add {
    font-size: 20px;
}

.flow-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    
}

.flow-item {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.flow-item:hover {
    border: 1px solid #1677FF;
    transform: scale(1.05);

}

.flow-item button {
    width: 120px;
    height: 120px;
    border-radius: 20px;
    border: none;
}

.flow-item h4 {
    font-size: 15px;
    text-align: center;
    margin-top: 0;
}

.icon-folder {
    font-size: 90px;
}