.ant-tabs-nav-list {
    width: 100% !important; 
    margin: 0 auto;
    
}

.ant-tabs-tab {
    width: 50% !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}