.bloco-principal {
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
}

.caixa-direita {
    width: 50%;
    border-right: 2px solid black;
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.caixa-esquerda {
    width: 50%;
    background-color: #FFFFFF;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.box-model {
    border-radius: 15px;
    padding: 20px;
    border: 1px solid #ddd;
}