.demo-logo-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  color: #FFFFFF;
  text-align: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);


}

.item-menu:hover {
  background-color: #1677FF !important;
}