.header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px; 
  line-height:  0;
}

.header .logo-ufrn {
  flex: 1;
  margin: 10px 0; 
}

.header .logo-image {
  height: 10%; 
  width: 10%; 
}