.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px; 
  line-height:  0;
}

.header .logo-ufrn {
  flex: 1;
  margin: 10px 0; 
}

.header .logo-image {
  height: 10%; 
  width: 10%; 
}