.dropdown {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  
  .actions-iteration {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 10px;
    margin-top: 30px;
    border-radius: 4px; 
  }
  
  .dropdown-content Button {
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: left;
    border: none;
    background-color: transparent;
    cursor: pointer;
    gap: 10px;
  }
  
  .dropdown-content Button,
  .dropdown-content Button svg {
    color: #333;
  }
  
  .dropdown-content Button:hover {
    background-color: #f1f1f1;
  }
  

  .dropdown.show .dropdown-content {
    display: block;
  }
  