.section-comments {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 20px;
}

.container-comment {
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    width: 70%;

}

.header-comment {
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.autor-comment {
    font-size: 12px;

}

.content-comment {
    border-top: none;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 20px;

}