.component-form-etapa form {
    width: 100%;
    display: flex;
    gap: 30px;
    align-items: flex-start;
}



.input-nome-e-descricao {
    width: 70%;
}

.input-nome-e-descricao input {
    width: 100%;
}

.botao-adicionar-etapa {
    max-width: fit-content;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

